<div class="portfolio">
    <div class="container ">
        <div>
            <div class="text-center pt-4">
            <h2 class="text-uppercase mb-3 fs-1 fw-bolder">PORTFOLIO COMPONENT</h2>
            <div class="d-flex align-items-center justify-content-center mb-3">
                <div class="line me-3" >
                </div>
                <i class="fa-solid fa-star"></i>
                <div class="line ms-3" >
                </div>
            </div>
        </div>
        </div>
        <div class="row gy-5 gx-5 mb-5">
            <div class="col-4 ">
                <div class="port-img position-relative">
                    <img src="assets/poert1.png" class="w-100">
                    <div class="layer ">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
               
            </div>
            <div class="col-4 ">
                <div class="port-img position-relative">
                    <img src="assets/port2.png" class="w-100">
                    <div class="layer ">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
               
            </div><div class="col-4 ">
                <div class="port-img position-relative">
                    <img src="assets/port3.png" class="w-100">
                    <div class="layer ">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
               
            </div><div class="col-4 ">
                <div class="port-img position-relative">
                    <img src="assets/poert1.png" class="w-100">
                    <div class="layer ">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
               
            </div><div class="col-4 ">
                <div class="port-img position-relative">
                    <img src="assets/port2.png" class="w-100">
                    <div class="layer ">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
               
            </div><div class="col-4 ">
                <div class="port-img position-relative">
                    <img src="assets/port3.png" class="w-100">
                    <div class="layer ">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="position-fixed bg w-100 start-0 top-0 z-3 h-100 d-none justify-content-center align-items-center">
         <img src="assets/poert1.png " class="opacity-100 " style="width: 35%;" >
    </div>
</div>